<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<script>

</script>
<style type="text/css">
    .headOFall div{
        display: inline;
        color:gold;
    }
</style>
<body >
<!--web-top start-->
<div class="w-all w-minw bg-cf5f5f5 ovhidden">
    <div class="w-main m-auto">
        <span class="fs-14 line-h30 ftc-6b6b6b dsblock fl"> 欢迎来到土狗网 </span>
        <div class="fl" id="loginText">

        </div>
        <ul class="topnav fr">
            <li class="fl"><a href="userOrder.html" class="fs-14 ftc-6b6b6b line-h30 fl m-l-20 m-r-20">我的订单</a></li>
            <li class="fl"><a href="#" class="fs-14 ftc-6b6b6b line-h30 fl m-l-20 m-r-20">我的收藏</a></li>

            <li class="fl"><a href="#" class="fs-14 ftc-6b6b6b line-h30 fl m-l-20 m-r-20">我的地址</a></li>

            <li class="fl"><a href="#" class="fs-14 ftc-6b6b6b line-h30 fl m-l-20 m-r-20">帮助中心</a></li>
            <li class="fl"><a href="#" class="fs-14 ftc-6b6b6b line-h30 fl m-l-20">网站导航</a></li>
        </ul>
    </div>
</div>
<!--web-top end-->

<div id="app" class="container">
    <h2 class="title">购物车</h2>
    <table class="tab" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th colspan="2">商品信息</th>
            <th style="width: 14%;">商品金额</th>
            <th style="width: 14%;">商品数量</th>
            <th style="width: 14%;">总金额</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in productList">
            <td style="width: 5%;"><input type="checkbox" :checked="item.check" @click="checkBox(item)"/></td>
            <td class="goods">
                <img :src="item.photo" class="goods-left"/>
                <div class="goods-right">
                    <p>{{item.name}}&nbsp;&nbsp;&nbsp;{{item.information}}</p>
                </div>
            </td>
            <td>{{item.price | formatMoney}}</td>
            <td class="num">
                <a href="javascript:;" @click="changeMoney(item,-1)">-</a>&nbsp;&nbsp;
                <input type="text" v-model="item.number"  disabled/>
                <input type="hidden" :id="item.goodsid" name="goodsid" v-model="item.goodsid" style="display: none">&nbsp;&nbsp;
                <a href="javascript:;" @click="changeMoney(item,1)">+</a>
            </td>
            <td class="redcolor">{{item.price*item.number | formatMoney}}</td>
            <td class="del" @click="del(item);">删除</td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="footer">
            <td><input type="checkbox" :checked="checkAllFlag" @click="checkAll"/></td>
            <td>
                <span class="redcolor">全选</span>&nbsp;&nbsp;
            </td>
            <td colspan="4">
                总计：<span>{{totalMoney | formatMoney}}</span>元
                <button type="button" class="btn" @click="addorder">结账</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</body>
<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
</html>